{% extends "layout.html" %}
{% block content %}
<section class="text-center">
    <h1>Data Games</h1>
    <h2>Select a category to be quizzed on</h2>
    <div class="container-40">
    <div class="d-flex flex-column align-items-center">
    {% for category in data %}
    <a href="/{{category[0]}}"><button class="btn btn-primary">{{ category[0] }}</button></a>
    {% endfor %}
    </div>
    {% for category in data %}
    <a href="/{{category[0]}}/Leaderboard"><button class="btn btn-primary">{{ category[0] }} leaderboard</button></a>
    {% endfor %} 
    </div>
</section>
{% endblock content %}
