{% extends "layout.html" %}
{% block content %}
<section class="text-center">
    <h1>Data Games</h1>
    <h2>Select a category to be quizzed on</h2>
    <div class="container-40">
        <form method="post"> 
            <input type="search" name="Game" placeholder="Search for Games">
            <button>Search</button>
        </form>
    <div class="d-flex flex-column align-items-center">
    {% for category in data %}
    <div class="row disp">
    <a href="/{{category[1]}}"><button class="btn btn-primary">{{ category[0] }}</button></a>
    <a href="/{{category[1]}}/Leaderboard"><button class="btn btn-info">{{ category[0] }} leaderboard</button></a>
    </div>
    {% endfor %}
    </div>
    </div>
</section>
{% endblock content %}
